In [ ]:
import pandas as pd

df=pd.read_csv("/content/Motor_Vehicle_Collisions_-_Crashes_20250119.csv")

<ipython-input-6-dd04d1d09e91>:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/Motor_Vehicle_Collisions_-_Crashes_20250119.csv")

In [ ]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149560 entries, 0 to 2149559
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 475.6+ MB
None

In [ ]:
print(df.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           666125
ZIP CODE                          666390
LATITUDE                          239580
LONGITUDE                         239580
LOCATION                          239580
ON STREET NAME                    461828
CROSS STREET NAME                 819640
OFF STREET NAME                  1780105
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7321
CONTRIBUTING FACTOR VEHICLE 2     339379
CONTRIBUTING FACTOR VEHICLE 3    1994713
CONTRIBUTING FACTOR VEHICLE 4    2114334
CONTRIBUTING FACTOR VEHICLE 5    2139943
COLLISION_ID                           0
VEHICLE TYPE CODE 1                14962
VEHICLE TYPE CODE 2               421579
VEHICLE TYPE CODE 3              2000557
VEHICLE TYPE CODE 4              2115597
VEHICLE TYPE CODE 5              2140240
dtype: int64

In [ ]:
#Drop duplicates if they exist

df=df.drop_duplicates()

#Drop rows where essential columns are missing (like location, crash e/time)
df=df.dropna(subset=['LATITUDE', 'LONGITUDE', 'CRASH DATE', 'CRASH TIME'])

#Fill missing values in categorical columns with 'Unknown'

categorical_cols = ['BOROUGH', 'ZIP CODE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME']
df[categorical_cols] = df[categorical_cols].fillna('Unknown')

#Replace missing values in contributing factors with 'Unspecified'
contributing_factors = ['CONTRIBUTING FACTOR VEHICLE 1','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']

df [contributing_factors]= df[contributing_factors].fillna ('Unspecified')

#Replace missing vehicle type codes with 'Unknown'

vehicle_columns = ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']
df[vehicle_columns] = df[vehicle_columns].fillna('Unknown')

print(df.isnull().sum)

<bound method DataFrame.sum of          CRASH DATE  CRASH TIME  BOROUGH  ZIP CODE  LATITUDE  LONGITUDE  \
3             False       False    False     False     False      False
4             False       False    False     False     False      False
6             False       False    False     False     False      False
7             False       False    False     False     False      False
8             False       False    False     False     False      False
...             ...         ...      ...       ...       ...        ...
2149555       False       False    False     False     False      False
2149556       False       False    False     False     False      False
2149557       False       False    False     False     False      False
2149558       False       False    False     False     False      False
2149559       False       False    False     False     False      False

         LOCATION  ON STREET NAME  CROSS STREET NAME  OFF STREET NAME  ...  \
3           False           False              False            False  ...
4           False           False              False            False  ...
6           False           False              False            False  ...
7           False           False              False            False  ...
8           False           False              False            False  ...
...           ...             ...                ...              ...  ...
2149555     False           False              False            False  ...
2149556     False           False              False            False  ...
2149557     False           False              False            False  ...
2149558     False           False              False            False  ...
2149559     False           False              False            False  ...

         CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
3                                False                          False
4                                False                          False
6                                False                          False
7                                False                          False
8                                False                          False
...                                ...                            ...
2149555                          False                          False
2149556                          False                          False
2149557                          False                          False
2149558                          False                          False
2149559                          False                          False

         CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  \
3                                False                          False
4                                False                          False
6                                False                          False
7                                False                          False
8                                False                          False
...                                ...                            ...
2149555                          False                          False
2149556                          False                          False
2149557                          False                          False
2149558                          False                          False
2149559                          False                          False

         COLLISION_ID  VEHICLE TYPE CODE 1  VEHICLE TYPE CODE 2  \
3               False                False                False
4               False                False                False
6               False                False                False
7               False                False                False
8               False                False                False
...               ...                  ...                  ...
2149555         False                False                False
2149556         False                False                False
2149557         False                False                False
2149558         False                False                False
2149559         False                False                False

         VEHICLE TYPE CODE 3  VEHICLE TYPE CODE 4  VEHICLE TYPE CODE 5
3                      False                False                False
4                      False                False                False
6                      False                False                False
7                      False                False                False
8                      False                False                False
...                      ...                  ...                  ...
2149555                False                False                False
2149556                False                False                False
2149557                False                False                False
2149558                False                False                False
2149559                False                False                False

[1909980 rows x 29 columns]>

In [ ]:
print(df ['CRASH TIME'].unique())

df['CRASH TIME'] = df['CRASH TIME'].astype(str).str.strip() # Remove extra spaces
df['CRASH TIME'] = df['CRASH TIME'].str.zfill(5) # Ensure format HH:MM

['9:35' '8:13' '17:05' ... '5:52' '3:13' '2:14']

In [ ]:
# Convert crash_date to datetime format

df ['CRASH DATE'] = pd.to_datetime(df ['CRASH DATE'])

# Extract time-related features

df ['year'] = df ['CRASH DATE'].dt.year

df ['month'] = df ['CRASH DATE'].dt.month

df ['day_of_week'] = df ['CRASH DATE'].dt.dayofweek #0 Monday, 6 Sunday

#df ['hour'] = df ['CRASH TIME'].str[2].astype(int) # Extract hour from time
df ['hour'] = pd.to_datetime(df ['CRASH TIME'], format='%H:%M', errors='coerce').dt.hour

#Create a total accident severity score (sum of injuries and deaths)

df ['total_casualties'] = (df ['NUMBER OF PERSONS INJURED'] + df ['NUMBER OF PERSONS KILLED'] + df ['NUMBER OF PEDESTRIANS INJURED'] + df ['NUMBER OF PEDESTRIANS KILLED'] +

df ['NUMBER OF CYCLIST INJURED'] + df ['NUMBER OF CYCLIST KILLED'] +

df ['NUMBER OF MOTORIST INJURED'] + df ['NUMBER OF MOTORIST KILLED'])

# Categorize accidents into severity levels

df ['severity_label'] = pd.cut(df['total_casualties'], bins=[-1, 0, 2, 5, 50], labels=['Minor', 'Moderate', 'Severe', 'Fatal'])

In [ ]:
# Group by location and count accidents

high_risk_locations=df.groupby(['LATITUDE', 'LONGITUDE']).size().reset_index(name='accident_count')

# Display top accident-prone locations

print(high_risk_locations.sort_values (by='accident_count', ascending=False).head(10))

         LATITUDE  LONGITUDE  accident_count
0        0.000000   0.000000            4907
29068   40.608757 -74.038086             696
285770  40.861862 -73.912820             685
132470  40.696033 -73.984530             655
246844  40.804700 -73.912430             597
132474  40.696035 -73.984529             587
101617  40.675735 -73.896860             581
78814   40.658577 -73.890630             527
244166  40.798256 -73.827440             474
220935  40.760601 -73.964314             474

In [ ]:
print(df.columns)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'year', 'month', 'day_of_week', 'hour', 'total_casualties',
       'severity_label'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
print(df.columns)  # Check again

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'cross_street_name',
       'off_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code_1', 'vehicle_type_code_2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5',
       'year', 'month', 'day_of_week', 'hour', 'total_casualties',
       'severity_label'],
      dtype='object')

In [ ]:
print(df['severity_label'].unique())

['Minor', 'Severe', 'Fatal', 'Moderate', NaN]
Categories (4, object): ['Minor' < 'Moderate' < 'Severe' < 'Fatal']

In [ ]:
# Check for missing values
print("Missing values before handling:\n", df[features].isnull().sum())

# Option 1: Fill missing values with median (recommended for numerical data)
df[features] = df[features].fillna(df[features].median())

# Option 2: Drop rows with missing values (use only if missing values are few)
# df = df.dropna(subset=features)

# Confirm missing values are handled
print("Missing values after handling:\n", df[features].isnull().sum())

Missing values before handling:
 latitude                      0
longitude                     0
hour                          0
day_of_week                   0
month                         0
number_of_persons_injured    16
number_of_persons_killed     28
dtype: int64
Missing values after handling:
 latitude                     0
longitude                    0
hour                         0
day_of_week                  0
month                        0
number_of_persons_injured    0
number_of_persons_killed     0
dtype: int64

In [ ]:
# Check for missing values in target column
print("Missing values in target before handling:", df[target].isnull().sum())

# Drop rows where the target column has missing values
df = df.dropna(subset=[target])

# Confirm missing values are handled
print("Missing values in target after handling:", df[target].isnull().sum())

Missing values in target before handling: 38
Missing values in target after handling: 0

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encode target labels
label_encoder = LabelEncoder()
df[target] = label_encoder.fit_transform(df[target])

# Print the mapping of labels
print("Label Encoding Mapping:")
print(dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))))

Label Encoding Mapping:
{'Fatal': 0, 'Minor': 1, 'Moderate': 2, 'Severe': 3}

In [ ]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Feature columns and target variable
features = ['latitude', 'longitude', 'hour', 'day_of_week', 'month',
            'number_of_persons_injured', 'number_of_persons_killed']
target = 'severity_label'

# Handle missing values
df[features] = df[features].fillna(df[features].median())  # Fill NaNs with median

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target],
                                                    test_size=0.2, random_state=42,
                                                    stratify=df[target])

print(f"Training Set: {X_train.shape}, Testing Set: {X_test.shape}")

# Initialize the model
xgb_model = XGBClassifier(n_estimators=100, max_depth=7, learning_rate=0.1, random_state=42)

# Train the model
xgb_model.fit(X_train, y_train)

# Predictions
y_pred = xgb_model.predict(X_test)

# Model Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Training Set: (1527953, 7), Testing Set: (381989, 7)
Accuracy: 0.9996492045582465
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      6906
           1       1.00      1.00      1.00    290477
           2       1.00      1.00      1.00     71549
           3       0.99      1.00      1.00     13057

    accuracy                           1.00    381989
   macro avg       1.00      1.00      1.00    381989
weighted avg       1.00      1.00      1.00    381989

Confusion Matrix:
 [[  6905      1      0      0]
 [     0 290477      0      0]
 [     0     20  71449     80]
 [    25      3      5  13024]]